extends layout

include ./_includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1=pageHeader.title
        small &nbsp;#{pageHeader.strapline}
  .row(ng-controller='myController')
    .col-xs-12.col-sm-8
      .row
        label(for='locationFilter')
        input#locationFilter(type='text' name='locationFilter' ng-model='locationFilter')
        .message {{message}}
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat='location in data.locations | filter:locationFilter')
          h4
            a(href="/location/{{location._id}}") {{location.name}}
            small(rating-star,rating='location.rating')
          p.address {{location.address}}
          p
            span.label.label-warning(ng-repeat='facility in location.facilities') {{facility}}

    .col-xs-12.col-sm-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.

